{% extends 'demopage/base.html' %}
{% load static %}
{% block content %}
<section id="home-sec">
    <div class="overlay text-center">
        <h1 > Puangpaka Web</h1>
        <hr class="hr-set"/>
        <p>เว็บแปลงเลขทศนิยม&แก้ระบบสมการ </p>
    </div>
</section>
<section >
    <div class="container">
        <div class="row text-center" >
            <div class="col-md-4">
                <a href = '/dto32'> <img src="{% static 'img/ieee32.png' %}"> </a>
                <h3> แปลงเลขทศนิยมเป็น IEEE floating point single precision (32-bit)</h3>
            </div>

            <div class="col-md-4">
                <a href = '/dto64'><img src="{% static 'img/ieee64.png'%}"></i></a>
                <h3>แปลงเลขทศนิยมเป็น IEEE floating point double precision (64-bit)</h3>
            </div>

            <div class="col-md-4">
                <a href = '/solve'><img src="{% static 'img/ax=b.png'%}"></i></a>
                <h3>แก้ระบบสมการเชิงเส้น Ax = b</h3>
            </div>
        </div>
    </div>
</section>

{% endblock content %}